<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">

    <!--在是设置抽象bean的时候，需要加上getter方法-->
    <bean id="baseBean" abstract="true">
        <property name="baseBean" value="single"/>
    </bean>

    <bean id="baseBeanClass" class="cn.hassan.spring.impl.BaseBean" abstract="true">
        <property name="beanName" value="baseBeanClass"/>
    </bean>

    <bean id="messageService" class="cn.hassan.spring.impl.MessagesServiceImpl" parent="baseBean"/>
</beans>